.menu{
    width: 70%;
    margin: 0 auto;
}

.menu-lista{
    list-style: none;
    display: flex;
    justify-content: space-between;
    min-width: 900px;
}

.menu-lista li a{
    cursor: pointer;
    padding: 13px 10px;
    color: #fff;
    line-height: 40px;
    height: 40px;
    font-weight: bold;
    font-size: 90%;
}

.menu-lista li a:hover{
    color: #507357;
}

