.container{
    width: 100%;
    
}

.table_subjects{
    display: flex;
    margin: 30px auto;
    width: 70%;
    justify-content: space-between;
    
}

@media (max-width: 950px){
    .table_subjects{
        flex-wrap: wrap;
        justify-content: center;
    }
}

