.subjects ul{
    list-style: none;
}

.subjects li{
    width: 350px;
    padding: 7px;
}

.subjects ul li p{
    font-size: 0.8em;
    padding-left: 0;
}

.subjects ul li small{
    font-size: 0.7em;
}