.div-table{
    display: flex;
    color: #666666;
    min-width: 385px;
}

.time{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    margin-right: 10px;
    margin-left: 5%;
}

@media (max-width: 700px){
    .time{
        margin-left: 0;
    }
    

}

table{
    border-collapse: collapse; 
}

th{
    border: 1px solid #aaaaaa;
    height: 30px;
}

td{
    border: 1px solid #aaaaaa;
    height: 60px;
    width: 65px;
    font-size: 0.5em;
    vertical-align: text-top;

}
p{
    padding: 2px;
}


.cyan{
    background-color: rgb(92, 255, 255);
}

.yellow{
    background-color: rgba(219, 219, 43, 0.808);
}

.pink{
    background-color: violet;
}